.navbar-brand img{
    height: 20px;
    width: 20px;
}
#navbarSupportedContent{
    justify-content: end;
}
.navbar-collapse {
    margin-left: 780px;
}
.navbar{
    position: relative;
}
.nav-item{
    display: flex;
    justify-content: center;
}
.fa{
    margin-top: 9px;
}

.nav-item:hover{
    background-color: yellow;
}