

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://cdn-icons-png.flaticon.com/128/8389/8389995.png"> Flaura</a>     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="fa fa-home" href="#"></span><a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <span class="fa-regular fa-flower"></span>
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <span class="fa fa-cart-shopping"></span>
                    <a class="nav-link" href="#">Cart</a>
                </li>
            </ul>
        </div>
        <div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>